body {

}

h1{
  text-align: center;
}

h2{
  text-align: center;
  font-size: xx-large;
}

.menu-bar {
  overflow: hidden;
  background-color: rgb(151, 148, 148);
  width: 90%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  }

  .menu-bar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;

  }

  .menu-bar a:hover{
    background-color: rgb(226, 224, 224);
    color: black;

   
  }

  .active {
    background-color: red;
    color: black;
  }

  .pic-text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
  }

  .main-img{
    background-color: #aaa;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 500px;
    padding: 20px;
  }

  .mid-img{
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
    padding: 20px;
  }

  .mid-text{
    width: 500px;
    font-size: larger;
  }

.info {
    color: rgb(15, 46, 92);
    text-align: center;
  }

footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }

  @media screen and (max-width: 900px) {
    .pic-text {   
      grid-template-columns: 1fr;
      order: -1;
    }

    .menu-bar{ 
    }

  }